@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'KoPub-Batang';
    src: url(fonts/KoPubBatang-Light.ttf);
}

:root {
    /* BACKGROUND COLORS */
    --main-bg: #FFFBF6;

    /* FONT FAMILIES */
    --primary-font: 'KoPub-Batang';
    --secondary-font: 'Montserrat';

    /* TEXT COLORS */
    --coffee-dark: #302B27
}

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 20px;
    background: var(--main-bg);
}

/* NAVBAR */
.nav-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--main-bg);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.nav-main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-main .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-main .nav-links .nav-item {
    margin: 0 25.5px;
}

.nav-main .nav-item a {
    font-family: var(--secondary-font);
    text-decoration: none;
    font-size: 16px;
    color: var(--coffee-dark);
}

/* SECTION-MAIN */
.main-section {
    margin-top: 80px;
}

h1 {
    color: red;
    font-family: var(--primary-font), sans-serif;
}