@media screen and (max-width: 1080px) {
    .nav-main .nav-links .nav-item {
        margin: 0 18px;
    }
    
}

@media screen and (max-width: 860px) {
    .nav-main .nav-links {
        display: none;
    }

    .nav-menu .btn-menu {
        display: block;
        margin-left: 18px;
    }

    .nav-menu .btn-account, .nav-menu .btn-cart {
        display: none;
    }

    .main-section {
        height: 100vh;
        margin-top: 50;
    }
    
    .main-section .bg-image {
        display: none;
    }

    .partners-section .container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    .contact-section .contact-container {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }

    .contact-section .contact-form {
        max-width: 100%;
    }
}