@media screen and (max-width: 1080px) {
    .nav-main .nav-links .nav-item {
        margin: 0 18px;
    }
    
}

@media screen and (max-width: 860px) {
    .nav-main .nav-links {
        display: none;
    }

    .nav-menu .btn-menu {
        display: block;
        margin-left: 18px;
    }

    .nav-menu .btn-account, .nav-menu .btn-cart {
        display: none;
    }
    
}